@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
@font-face {
    font-family: 'Raiderfont';
    src: local('Raiderfont'), url('../fonts/Raiderfont.ttf') format('truetype');
}

/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-shadow: none;
}

html{
    font-size: 62.5%;
}

body{
    overflow: hidden;
    color: #fff;
    background: rgb(179,180,175);
    font-family: 'Montserrat', sans-serif;
}

.right{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(25,25,33,1);
    z-index: -10;
}

a{
    color: #fff;
    text-decoration: none;
}


/*Header*/

header{
    height: 10vh;
    width: 100%;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.header-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-section section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.header-section section *{
    cursor: pointer;
}

.header-section section *:hover{
    color: #000;
}

.header-section section:nth-child(1){
    width: 25%;
    font-size: 2rem;
}

.header-section section:nth-child(2){
    width: 25%;
    margin-left: 4vh;
    justify-content: space-around;
}

.header-section section:nth-child(3){
    width: 50%;
}

label{
    height: 15px;
    width: 25px;
    z-index: 70;
}

label div{
    position: relative;
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 30px;
    background: #fff;
    transition: 0.5s !important;
}

label div:nth-child(1){
    top: 0;
}

label div:nth-child(2){
    top: 4px;
}

label div:nth-child(3){
    top: 8px;
}

input{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -500px;
    z-index: 10;
    background-color: #000;
}

.right ul{
    width: 100%;
    display: none;
}


.right ul li{
    list-style: none;
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-top: 20px;
    width: 100%;
}

.right li a{
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.right .portfolio{
    font-size: 1.8rem;
    font-weight: bold;
}

input:checked + nav{
    z-index: 50 !important;
}

input:checked + .right ul{
    display: block !important;
}

input:checked + .right + header .mobile-menu{
    margin-top: -15px;
}

input:checked + .right + header .mobile-menu div:nth-child(1){
    transform: rotate(-45deg);
    top: 14px;
}

input:checked + .right + header .mobile-menu div:nth-child(2){
    transform: rotate(-45deg);
    opacity: 0;
    top: 10px;
}

input:checked + .right + header .mobile-menu div:nth-child(3){
    transform: rotate(45deg);
}

img{
    width: 50px;
    clip-path: circle();
    position: absolute;
    right: 25px;
}

/*Main*/

main{
    height: 90vh;
    width: 100%;
}

.image{
    background: url("../img/karina.jpg");
    background-size: cover;
    height: 75%;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 28vh;
    z-index: 5 !important;
}

.text {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    text-shadow: 5px 5px 20px #000;
    z-index: 10;
}

.text h1 {
    font-size: 90px;
    color: #fff;
    font-family: 'Raiderfont';
    text-transform: uppercase;
}

.text p {
    font-size: 20px;
    color: #fff;
    font-family: monospace;
    margin-top: -70px;
}


.name {
    position: absolute;
    top: 44%;
    left: -270px;
    transform: translateY(-50%);
    font-size: 90px;
    font-family: 'Raiderfont';
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    z-index: 10;
}

.menu-container{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 8vh;
    left: 130vh;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

.menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu hr{
    z-index: -10;
    width: 200px;
    height: 1px;
    background-color: #fff;
    animation-delay: 0.8s;
}

.menu a{
    letter-spacing: 9px !important;
    color: rgb(198, 198, 198);
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.menu a:nth-child(1){
    animation-delay: 0.9s;
}

.menu a:nth-child(2){
    color: #fff;
    font-weight: 500;
    animation-delay: 1.2s;
}

.menu a:nth-child(3){
    animation-delay: 1.4s;
}

.menu a:hover{
    transform: scale(1.1) !important;
}

.menu a:nth-child(2):hover {
    transform: scale(1.05) !important;
}
/*Footer*/

footer{
    height: 8vh;
    width: 37%;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.574);
    position: absolute;
    bottom: 0;
    left: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 3px;
    z-index: 20 !important;
    animation-delay: 1.8s;
}

footer a:hover{
    transform: scale(1.1);
}

/*Media Queries*/

@media screen and (max-width: 1090px){
    .menu{
        display: none;
    }

    footer{
        font-size: 1rem;
    }

    .header-section section:nth-child(2){
        margin-left: 0;
    }

    .text{
        right: 5vh !important;
    }
}

@media screen and (max-width: 900px){
    header a{
        font-size: 1.1rem;
    }
    .name{
        display: none;
    }

    .text{
        left: 27vh;
    }
    .text h1{
        font-size: 8.1rem;
    }

    footer{
        width: 90%;
        left: 28vh;
    }
}

@media screen and (max-width: 800px){
    label{
        position: absolute;
        right: 15px;
    }

    .logo{
        position: absolute;
        left: 15px;
    }

    .header-section section:nth-child(2), .header-section section:nth-child(3){
        display: none;
    }

    .header-section section:nth-child(1){
        justify-content: space-between;
        width: 100% !important;
        height: 100%;
    }

    .right ul{
        margin-top: 30px;
    }
}

@media screen and (max-width: 760px){
    .image{
        top: 35%;
        left: 10%;
        width: 80%;
        height: 30%;
        box-shadow: 5px 5px 10px #000;
    }

    .text{
        left: 10%;
        top: 25%;
    }

    .text h1{
        font-size: 5rem;
    }

    .text p{
        margin-top: -28px;
    }

    footer{
        left: 0;
        width: 100%;
    }
}